.img_wrapper {
  width: 100%;
}

.tac {
  text-align: center;
}
.mb50 {
  margin-bottom: 50px;
}
.mt0 {
  margin-top: 0;
}
.mb0 {
  margin-bottom: 0;
}
.pr20 {
  font-weight: 400;
}
.pl30 {
  padding-left: 30px;
}
.header_page {
  background-image: url('../images/bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}
.contact_link {
  text-decoration: none;
  padding: 10px 40px;
  background-color: #ae9171;
  color: #fff;
  text-align: center;
}

/* MEDIA */
@media screen and (min-width: 768px) {
  .header_page {
    padding: 200px;
  }
  .pr20 {
    padding-right: 20px;
  }
}
@media screen and (min-width: 970px) {
  .img_wrapper {
    width: 45%;
  }

  .group_list_item {
    justify-content: flex-start;
    height: 450px;
  }
}
